@font-face {
    font-family: 'HelveticaNeueLTLight';
    src: url('../fonts/helveticaneuelt-light-webfont.eot');
    src: url('../fonts/helveticaneuelt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuelt-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneuelt-light-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuelt-light-webfont.svg#HelveticaNeueLTLight') format('svg');
    font-weight: normal;
    font-style: normal;
}