/* Main definitions */
body {
	background: #FFFFFF url("../images/globalBackground.png") repeat;
	font-family: "HelveticaNeueLTLight", "Helvetica Neue", "Helvetica", "Arial" !important;
    font-size: 15px;
	margin: 0;
    color: #333333;
}

::selection {
	background: #1982c4; /* Safari */
	}
::-moz-selection {
	background: #1982c4; /* Firefox */
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #1982c4;
}

/* Root container */
#container {
	max-width: 1000px;
	height: auto;
	min-height: 400px;
	margin: 0 auto;
}


/* Socials bar (Facebook & Twitter) */
#socials {
	position: absolute;
	right: 10px;
	top: 10px;
}

#socials ul li {
	width: 30px;
	height: 30px;
	float: right;
}

.icon-facebook-sign, .icon-twitter-sign {
	font-size: 30px;
	color: #666;
}

#socials ul li a {
	display: block;
	text-decoration: none;
}

#socials ul li a:hover i.icon-twitter-sign{
	color: #9AE4E8;
}

#socials ul li a:hover i.icon-facebook-sign{
	color: #304890;
}


/* Header definitions */
header {
	height: 125px;
}


/**
 * Twitter Bootstrap overrides
 */

.navbar {
    background-color: rgba(225, 225, 225, 0.25);
}

.navbar .brand {
    width: 201px;
    height: 85px;
    padding: 0;
    margin-left: 0px;
}

.navbar .brand img {
    height: 65px;
    padding: 10px 0;
}

 .navbar-static-top .navbar-inner {
     background-color: transparent;
     background-image: none;
     border-bottom: 7px solid #dedede;
     -webkit-box-shadow: none;
     box-shadow: none;
     min-height: 85px;
}

 .navbar .nav > li > a {
    padding: 15px 15px 15px;
    font-size: 25px;
    line-height: 55px;
    transition: color 300ms;
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
 }

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #1982c4;
    text-decoration: none;
    background-color: transparent;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #1982c4;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
 }

 .navbar .btn-navbar {
     border: 0;
     background-image: none;
     background-color: rgba(255, 255, 255, 0.5);
     box-shadow: 0 0 10px #ddd;
     margin-top: 20px;
     border-radius: 3px;
 }

 .navbar .btn-navbar .icon-bar {
     background-color: #1982c4;
     width: 30px;
     height: 4px;
 }

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
    box-shadow: 0 0 10px #aaa;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-navbar .icon-bar + .icon-bar {
    margin-top: 6px;
}

section {
    padding-top: 40px;
}

.thumbnail {
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.thumbnail img {
    box-shadow: 0 0 7px #888;
}

.progress, .progress .bar {
    border-radius: 0;
}

.progress .bar {
    line-height: 20px;
}

/* Feature box */
.box {
    background: rgba(255,255,255, 0.5);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    margin-bottom: 50px;
}

.box:hover {
	box-shadow: 0 0 10px #aaa;
}

.last {
	margin-right: 0;
}

.box .topLine {
	height: 7px;
	background: #dedede;
}

.box .topLine .mark {
	display: block;
	height: 7px;
	width: 25px;
	background: #1982c4;
}

.box h1 {
	text-align: center;
	margin-top: 25px;
	text-transform: uppercase;
	color: #1982c4;
	font-size: 25px;
}

.box .center {
    text-align: center;
}

.box i {
    margin: 0 auto;
    font-size: 150px;
    text-shadow: 0 -1px #888;
}

.box article {
	text-align: justify;
	padding: 0 25px 10px 25px;
	line-height: 25px;
	font-size: 16px;
	color: #606060;
}


/* Footer */
footer {
	height: 114px;
    margin-top: 70px;
	border-top: 6px solid #dedede;
	background: url("../images/footerBackground.png") repeat-x;
}

footer p {
    text-align: center;
	color: #737373;
	text-shadow: 0 -1px #000;
}

footer p.copyright {
    margin-top: 35px;
    font-size: 13px;
}

footer a {
    color: #737373;
	margin-top: 5px;
    font-weight: bold;
    transition: color 300ms;
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
}

footer a:hover {
    color: #e0e0e0;
    text-decoration: none;
}

footer a:hover {
	color: #fff;
}

/**
 * LayerSlider
 */
.ls-layer p {
    padding: 20px;
    line-height: 25px;
    box-shadow: 0px 4px 10px -5px black;
    text-shadow: none;
    font-size: 18px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/**
 * Twitter Bootstrap Responsive overrides
 */

@media (min-width: 980px) {
    .navbar .nav {
        height: 85px;
    }

     .navbar .nav > .active {
        border-bottom: 7px solid #1982c4;
    }
}

@media (max-width: 979px) {
    .nav-collapse .nav > li > a {
        font-weight: normal;
    }
}

@media (max-width: 767px) {
    .ls-wp-fullwidth-container {
        margin-left: -20px;
        margin-right: -20px;
    }


    .information [class*="span"] {
        margin-bottom: 40px;
    }

    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/**
 * Examples
 */

.example h2 {
    color: #5a5a5a;
}

.example-grid [class*="span"] {
    background-color: #dedede;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
}

.example-grid .row {
    margin-top: 10px;
    margin-bottom: 20px;
}

/**
 * Stats & Infos
 */

.information {
    text-align: center;
}

.information h1 {
    color: #5a5a5a;
    margin: 60px 0 10px;
    line-height: 1;
    letter-spacing: -1px;
}

.information > p {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.25;
    color: #999;
}

.stats-1 img {
    max-width: 100%;
}

.stats-1 .row {
    text-align: left;
}

.feature-grid [class*="span"], .advantages-grid [class*="span"] {
    text-align: center;
}

.feature-grid img {
    max-height: 140px;
}

.feature-grid p, .advantages-grid p {
    margin-top: 20px;
    font-size: 22px;
}

.feature-grid i, .advantages-grid i {
    font-size: 140px;
}

.usage-grid {
    text-align: left;
}

.usage-grid .bar-container {
    position: relative;
    margin-bottom: 25px;
}

.usage-grid .bar-container i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    width: 48px;
}

.usage-grid .bar-container p, .usage-grid .bar-container .progress {
    margin-left: 60px;
}

.usage-grid .bar-container .progress {
    height: 25px;
}

.mobilevsdesktop-grid .legend i {
    font-size: 48px;
}

.mobilevsdesktop-grid .legend .icon-mobile-phone {
    color: #1982c4;
}

.mobilevsdesktop-grid .legend span {
    font-size: 26px;
    line-height: 48px;
}

.mobilevsdesktop-grid .chart-year {
    margin: 30px 0;
    font-size: 26px;
}

.mobilevsdesktop-grid .chart img {
    max-width: 100%;
}


